* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
a {
    color: #e6a563;
}
a:hover {
    opacity: 0.8;
}
h2 {
    text-align: center;
}
img {
    width: 100%;
}
/**Header**/
header {
    background-color: #efefef;
}
header a {
    text-decoration: none;
    color: #000
}
header a:hover {
    color: #e6a563;
}
header .container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container a:first-child {
    width: 250px;
    margin-right: auto;

}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
.button:hover {
    background-color: #fff;
}
nav li {
    margin: 0 1em;
     position:relative;
}
nav li a {
    padding: 20px 0;
}
.submenu {
    display: none;
    flex-direction: column;
    position: absolute; 
    left: 0;
    background-color: #fff;
    border: 1px solid #efefef;
    padding: 10px 5px 10px 5px; 
    margin: 10px;
    border-radius: 20px;
    width: 140px;
    gap: 15px;
    align-items: flex-start;
}
nav li:hover >.submenu {
    display: flex;
    cursor: pointer;
}
.navTog, .navTogMenu {
    display: none; 
}
@media (max-width: 767px){
    header nav {
        position: absolute;
        width: 100%;
        top: 80px;
        left:0;
    }
     header nav ul {
        flex-direction: column;
        background-color: #efefef;
        padding: 0;
        gap: 0;
        border-top: 1px solid #fff; 
    }
    header nav li {
        text-align:center;
        border-bottom: 1px solid #fff;
        width:100%;
    }
    nav li a {
        display: block;
        padding: 20px;
        width: 100%; 
    }
    nav .button {
        width: 100%;
        border-radius: 0;
        display: block;
        padding: 20px;
    }
    header .container nav a:first-child  {
        width: 100%;
    }
    .submenu {
        display: flex;
        position: relative; 
        border-radius: 0;
        width: 100%;
        margin: 0;
        padding: 10px 0; 
        align-items: center;
    }
    .navTogMenu {
        display: block;
    }
    .navTogMenu img {
        width: 30px;
    }
    .menuClose, nav, .navTog:checked ~ .navTogMenu .menuOpen {
        display: none;
    }
    .navTog:checked ~ nav, .navTog:checked ~ .navTogMenu .menuClose {
        display: block; 
    }
}